{% if code is not empty %}
<div x-clipboard data-block="advanced-code" class="relative flex flex-col {{ alignclass }}">
  <div class="flex justify-between items-center gap-4 {{ filename ? 'w-full py-3 border-t border-content [.alignfull_&]:md:px-3' : 'absolute top-2 right-2' }}">
    <div>
      {% if filename is not empty %}
      <p class="text-sm font-semibold">{{ filename }}</p>
      {% endif %}
    </div>

    <button
      x-clipboard:trigger
      :data-copied="copied"
      aria-live="polite"
      class="p-1 transition-colors bg-action text-action-reverse data-[copied=true]:bg-action-focus data-[copied=true]:text-action-focus-reverse"
    >
      <span class="sr-only" x-text="copied ? 'Copied' : 'Copy'">Copy</span>
      <svg class="w-5 h-5" aria-hidden="true">
        <use href="#copy" :hidden="copied" />
        <use href="#check" :hidden="!copied" hidden />
      </svg>
    </button>
  </div>

  <pre class="flex flex-col selection:bg-white selection:text-black">
    <code x-clipboard:content class="type-code overflow-x-auto hljs {{ language }}">{{ code.highlighted }}</code>
  </pre>
</div>
{% endif %}
