{% set posts = posts %}

{# if there are no selected block posts, set teases = the first 3 posts #}
{% if block.posts is empty %}
  {% set teases = posts|slice(0, 3) %}
{% else %}
  {# Convert ACF post objects to Article objects #}
  {% set teases = block.posts|as_article %}

  {# while teases is less than 3, add more posts from selected as they are not duplicates #}
  {% if teases|length < 3 %}
    {% set teases_ids = [] %}
    {% for tease in teases %}
      {% set teases_ids = teases_ids|merge([tease.id ~ '']) %}
    {% endfor %}

    {% for post in posts %}
      {% if not (post.id ~ '' in teases_ids) %}
        {% set teases = teases|merge([post]) %}
        {% set teases_ids = teases_ids|merge([post.id ~ '']) %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {# finally truncate to 3 #}
  {% set teases = teases|slice(0, 3) %}

{% endif %}

<section class="mt-12 md:mt-24 grid grid-site centered-page">
  <div class="col-span-full border border-content p-1">
    <h2 class="uppercase text-center text-xs leading-3 tracking-wide">{{ title|default('Related stories') }}</h2>
  </div>

  <ul class="contents">
    {% for article in teases %}
      <li class="mt-6 flex flex-col flex-1 col-span-full md:col-span-12 xl:col-span-6">
        <div class="relative flex-1 flex flex-col gap-1 p-4 min-h-96">
  
          <div class="mt-6 relative w-[80%] aspect-square {{ article.thumbnail.id ? '' : 'bg-gray' }}">
            {% if article.thumbnail.id %}
              {% include 'components/lazy-img.twig' with { img: get_image(article.thumbnail.id), class: '!absolute inset-0 max-w-full max-h-full m-auto' } %}
            {% endif %}
          </div>
        
          <div class="relative text-sm">
            {{ article.categories[0] }}
          </div>
        
          <h3 class="type-headline-md text-left">
            <a class="before:absolute before:inset-0 before:z-10 hocus:before:shadow-inner" href="{{ article.link }}">{{ article.title }}</a>
          </h3>
        </div>
        
      </li>
    {% endfor %}
  </ul>
</section>