{% set product = get_post(block.product) %}
{% set icons = product.meta("icons") %}
{% set primary_icon = get_image(icons.primary) %}
{% set backdrop = get_image(product.meta("backdrop_image")) %}

<section aria-label="{{ block.headline }}" class="grid-site flex flex-col gap-y-grid-site-margin md:grid md:grid-cols-2  gap-x-grid-site-gutter mt-52">

  <div class="flex flex-col mb-10 md:mb-0">
    <h2 class="type-headline-20 text-secondary/60">{{ block.headline }}</h2>
    <p class="type-headline-20">{{ product.title }}</p>
  </div>

  {% if block.description %}
    <div class="prose type-headline-20">{{ block.description }}</div>
  {% endif %}

  {% if primary_icon %}
    <a href="{{ product.link ?: '#' }}" class="relative flex aspect-square group">
      {% include "components/lazy-img.twig" with {
        class: "h-full absolute left-1/2 translate-x-[-50%]",
        img: primary_icon,
        aspectRatio: "1/1"
      } %}

      <p class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 bg-black/60 text-white backdrop-blur-md whitespace-nowrap px-[10px] pt-[6.5px] pb-[5.5px] w-fit type-caption leading-none group-hover:bg-off-black/60 transition-all">{{ product.title }}</p>
    </a>
  {% endif %}

  {% if backdrop %}
    <a href="{{ product.link ?: '#' }}" class="relative flex aspect-square group">
      {% include "components/lazy-img.twig" with {
        class: "h-full absolute left-1/2 translate-x-[-50%]",
        img: backdrop,
        aspectRatio: "1/1"
      } %}

      {% if product.tagline %}
        <p class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 bg-black/60 text-white backdrop-blur-md whitespace-nowrap px-[10px] pt-[6.5px] pb-[5.5px] w-fit type-caption leading-none max-w-[80%] truncate group-hover:bg-off-black/60 transition-all">{{ product.tagline }}</p>
      {% endif %}
    </a>
  {% endif %}
</section>
