<header class="px-grid-site-margin flex justify-center py-52 lg:py-60">
  <h1 class="sr-only">{{ page.title }}</h1>

  {% if categories|length %}
    <nav class="grid grid-cols-[1fr_1fr] gap-grid-site-gutter max-lg:w-full lg:flex lg:gap-10 type-headline-20 text-secondary/60" aria-label="Categories">
      <p>{{ prefix }}</p>

      <ul class="flex max-lg:flex-col lg:flex-wrap gap-3 lg:gap-6">
        <li>
          <a class="group flex gap-1 transition-colors hocus:text-content" href="{{ page.link }}">
            <span>All</span>

            <span class="text-[9px] text-main bg-secondary/40 aspect-square w-5 h-5 pt-0.5 -mt-2 flex justify-center items-center transition-colors group-hocus:bg-content">
              {{ '%02d'|format(total_count) }} <span class="sr-only">total</span>
            </span>
          </a>
        </li>

        {% for category in categories %}
          <li>
            <a class="group flex gap-1 transition-colors hocus:text-content" href="{{ category.link }}">
              <span>{{ category.title }}</span>

              <span class="text-[9px] text-main bg-secondary/40 aspect-square w-5 h-5 pt-0.5 -mt-2 flex justify-center items-center transition-colors group-hocus:bg-content">
                {{ '%02d'|format(category.count) }} <span class="sr-only">total</span>
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
</header>
