<header class="centered-page z-50 theme-light group {{ class|default("") }}" x-init x-dialog>
  <nav class="group fixed top-0 w-full grid grid-cols-[1fr_auto_1fr] gap-x-grid-site-gutter px-grid-site-margin items-center py-[20px]" aria-label="Site" x-scroll-position>
    <div class="relative w-fit flex gap-1">
      <a class="button button-sm button-dark button-square flex justify-center items-center" href="/">
        <span class="sr-only">Home</span>
        <svg class="size-4 shrink-0" aria-hidden="true">
          <use xlink:href="#flag"></use>
        </svg>
      </a>

      {% if nav_pages_menu.cta_type == "link" %}
        {% set cta = nav_pages_menu.cta %}

      {% elseif nav_pages_menu.cta_type == "email-signup" %}
        {% set cta = { title: nav_pages_menu.email_signup_cta, url: "#email-signup" }%}

      {% endif %}

      {% if cta %}
        <a class="peer max-lg:hidden w-fit button button-sm button-dark" href="{{ cta.url }}">
          {{ cta.title }}
        </a>
      {% endif %}

      {% if cta and nav_pages_menu.cta_description %}
        <p class="invisible peer-hocus:visible hocus:visible w-full min-w-44 absolute top-full left-0 right-0 mt-1 p-3 pt-14 pr-8 max-lg:hidden text-xs font-sans leading-tight text-[#B4B4B4]  backdrop-blur-md bg-black/70 [.theme-dark_&]:bg-off-black/70">{{ nav_pages_menu.cta_description }}</p>
      {% endif %}
    </div>

    <a class="mx-auto py-1 lg:h-full flex items-center w-fit transition-transform duration-500 group-data-[direction=up]:translate-y-0 group-data-[direction=down]:-translate-y-[200%]" href="/">
      <span class="sr-only">Home</span>
      <svg class="text-content h-[17px]" viewBox="0 0 187 22" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <g>
          <path d="M8.18288 0L10.9854 13.7593H11.9896L14.7921 0H22.975V21.671H18.5089V3.79878H17.5048L13.6082 21.671H9.38183L5.48523 3.79878H4.4811V21.671H0V0H8.18288Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M33.8256 4.59144C38.9811 4.59144 41.9785 7.67233 41.9785 13.2957C41.9785 18.9191 38.9961 22 33.8256 22C28.6551 22 25.6727 18.9191 25.6727 13.2957C25.6876 7.65738 28.67 4.59144 33.8256 4.59144ZM33.8256 18.5303C36.1485 18.5303 37.2576 17.274 37.2576 14.5071V12.0544C37.2576 9.28756 36.1635 8.03127 33.8256 8.03127C31.4876 8.03127 30.3935 9.28756 30.3935 12.0544V14.5071C30.4085 17.274 31.5026 18.5303 33.8256 18.5303Z" fill="currentColor"/>
          <path d="M43.8069 18.4405L52.3345 8.13596H43.9268V4.90551H57.6548V8.13596L49.1272 18.4405H57.7747V21.671H43.8069V18.4405Z" fill="currentColor"/>
          <path d="M60.1127 4.90551H66.4072V21.671H61.9411V8.13596H60.1127V4.90551Z" fill="currentColor"/>
          <path d="M61.9411 0H66.4072V3.23046H61.9411V0Z" fill="currentColor"/>
          <path d="M69.3596 0H75.6542V21.671H71.188V3.23046H69.3596V0Z" fill="currentColor"/>
          <path d="M78.6216 0H84.9161V21.671H80.45V3.23046H78.6216V0Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M94.5077 4.59144C96.9956 4.59144 98.6292 5.81781 99.1087 7.95649H100.113V4.90551H105.433V8.13596H103.605V18.4405H105.433V21.671H102.885C101.087 21.671 100.113 20.6988 100.113 18.9041V18.62H99.1087C98.6292 20.7587 96.9956 21.985 94.5077 21.985C90.5812 21.985 87.8086 18.6499 87.8086 13.2808C87.8086 7.91162 90.5812 4.59144 94.5077 4.59144ZM95.8266 18.5303C98.0896 18.5303 99.1237 17.274 99.1237 14.5071V12.0544C99.1237 9.28756 98.0896 8.03127 95.8266 8.03127C93.5636 8.03127 92.5295 9.28756 92.5295 12.0544V14.5071C92.5295 17.274 93.5636 18.5303 95.8266 18.5303Z" fill="currentColor"/>
          <path d="M179.725 21.9995C177.5 21.9995 175.788 21.549 174.592 20.6481C173.416 19.7262 172.671 18.2805 172.356 16.311H176.607V16.6253C176.607 17.0444 176.712 17.4215 176.922 17.7567C177.132 18.071 177.468 18.3329 177.93 18.5424C178.392 18.731 178.99 18.8253 179.725 18.8253C180.691 18.8253 181.426 18.6786 181.93 18.3853C182.454 18.071 182.717 17.631 182.717 17.0653C182.717 16.6044 182.559 16.2482 182.245 15.9968C181.951 15.7453 181.436 15.5358 180.701 15.3682L177.237 14.6139C175.578 14.2368 174.371 13.6816 173.615 12.9483C172.881 12.194 172.513 11.1778 172.513 9.89977C172.513 8.18172 173.122 6.87223 174.34 5.9713C175.578 5.04941 177.353 4.58847 179.662 4.58847C181.867 4.58847 183.557 5.04941 184.732 5.9713C185.908 6.87223 186.654 8.30743 186.969 10.2769H182.748V9.96263C182.748 9.54359 182.643 9.17693 182.433 8.86265C182.224 8.52742 181.888 8.26553 181.426 8.07696C180.985 7.86744 180.397 7.76268 179.662 7.76268C178.717 7.76268 177.993 7.91982 177.489 8.2341C177.006 8.52742 176.765 8.95694 176.765 9.52264C176.765 9.98358 176.912 10.3398 177.206 10.5912C177.521 10.8426 178.035 11.0521 178.749 11.2197L182.213 11.974C183.872 12.3511 185.079 12.9168 185.835 13.6711C186.612 14.4044 187 15.3996 187 16.6567C187 18.3748 186.37 19.6948 185.11 20.6166C183.872 21.5385 182.077 21.9995 179.725 21.9995Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M161.216 21.0566C162.014 21.6852 163.001 21.9995 164.177 21.9995C165.457 21.9995 166.57 21.6538 167.515 20.9623C168.481 20.2709 169.216 19.2757 169.72 17.9767C170.244 16.6567 170.507 15.0958 170.507 13.294C170.507 11.4921 170.244 9.94166 169.72 8.64265C169.216 7.32268 168.481 6.31699 167.515 5.62558C166.57 4.93417 165.457 4.58846 164.177 4.58846C163.022 4.58846 162.077 4.87131 161.342 5.43701C160.628 6.00271 160.125 6.84079 159.831 7.95124H158.823C159.033 6.06557 159.138 4.7456 159.138 3.99133V3.03038e-06H153.091V3.0485H154.886V21.6852H158.571V18.3224H159.579C159.894 19.5167 160.44 20.4281 161.216 21.0566ZM165.185 17.6939C164.639 18.3643 163.778 18.6995 162.602 18.6995C161.405 18.6995 160.523 18.3643 159.957 17.6939C159.411 17.0024 159.138 15.9234 159.138 14.4568V12.1311C159.138 10.6645 159.411 9.59596 159.957 8.9255C160.523 8.23409 161.405 7.88838 162.602 7.88838C163.778 7.88838 164.639 8.23409 165.185 8.9255C165.751 9.59596 166.035 10.6645 166.035 12.1311V14.4568C166.035 15.9234 165.751 17.0024 165.185 17.6939Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M140.644 21.9995C139.384 21.9995 138.282 21.6538 137.337 20.9624C136.392 20.2709 135.668 19.2757 135.164 17.9767C134.66 16.6567 134.408 15.0958 134.408 13.294C134.408 11.4921 134.66 9.94167 135.164 8.64266C135.668 7.32269 136.392 6.317 137.337 5.62559C138.282 4.93418 139.384 4.58847 140.644 4.58847C141.82 4.58847 142.785 4.90275 143.541 5.53131C144.318 6.15986 144.864 7.07127 145.179 8.26553H146.155V4.90275H151.635V7.95125H149.808V18.6367H151.635V21.6852H148.801C147.94 21.6852 147.279 21.4652 146.817 21.0252C146.376 20.5643 146.155 19.9043 146.155 19.0453V18.3224H145.179C144.864 19.5167 144.318 20.4281 143.541 21.0566C142.785 21.6852 141.82 21.9995 140.644 21.9995ZM142.219 18.6996C143.394 18.6996 144.245 18.3643 144.77 17.6939C145.315 17.0025 145.588 15.9234 145.588 14.4568V12.1311C145.588 10.6645 145.315 9.59597 144.77 8.92551C144.245 8.2341 143.394 7.88839 142.219 7.88839C141.064 7.88839 140.214 8.2341 139.668 8.92551C139.143 9.59597 138.88 10.6645 138.88 12.1311V14.4568C138.88 15.9234 139.143 17.0025 139.668 17.6939C140.214 18.3643 141.064 18.6996 142.219 18.6996Z" fill="currentColor"/>
          <path d="M117.611 0V21.6852H132.287V15.0853H128.634V18.511H121.957V3.17421H124.004V0H117.611Z" fill="currentColor"/>
        </g>
      </svg>
    </a>

    <div class="ml-auto">
      <ul class="max-lg:hidden flex gap-1">
        {% for item in nav_pages_menu.items %}
        <li>
          <a class="button button-sm aria-current:bg-black group-[.theme-dark]:aria-current:bg-white group-[.theme-dark]:aria-current:text-black" href="{{ item.url }}" {% if item.current %}aria-current="page"{% endif %}>
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <button class="lg:hidden w-fit button button-sm button-square" x-dialog:trigger>
        <span class="sr-only">Menu</span>
        <svg class="size-4" aria-hidden="true">
          <use href="#menu"></use>
        </svg>
      </button>
    </div>
  </nav>

  <template x-teleport="body">
    {% include "components/menu.twig" %}
  </template>
</header>
