<header class="centered-page z-50 theme-light group {{ class|default("") }}" x-init x-dialog>
  <nav class="fixed top-0 w-full grid grid-cols-[1fr_auto_1fr] gap-x-grid-site-gutter px-grid-site-margin items-center py-5" aria-label="Site">
    <div class="relative w-fit flex gap-1">
      <a class="button button-sm button-dark button-square flex justify-center items-center" href="/">
        <span class="sr-only">Home</span>
        <svg class="size-4 shrink-0" aria-hidden="true">
          <use xlink:href="#flag"></use>
        </svg>
      </a>

      {% if nav_pages_menu.cta_type == "link" %}
        {% set cta = nav_pages_menu.cta %}

      {% elseif nav_pages_menu.cta_type == "email-signup" %}
        {% set cta = { title: nav_pages_menu.email_signup_cta, url: "#email-signup" }%}

      {% endif %}

      {% if cta %}
        <a class="peer max-lg:hidden w-fit button button-sm button-dark" href="{{ cta.url }}">
          {{ cta.title }}
        </a>
      {% endif %}

      {% if cta and nav_pages_menu.cta_description %}
        <p class="invisible peer-hocus:visible hocus:visible w-full min-w-44 absolute top-full left-0 right-0 mt-1 p-3 pt-14 pr-8 max-lg:hidden text-xs font-sans leading-tight text-[#B4B4B4]  backdrop-blur-md bg-black/70 [.theme-dark_&]:bg-off-black/70">{{ nav_pages_menu.cta_description }}</p>
      {% endif %}
    </div>

    <a
      class="
        mx-auto py-1 lg:h-full flex items-center w-fit motion-safe:transition-transform motion-safe:duration-500
        group-data-[scroll-direction=up]/root-scroll:translate-y-0 group-data-[scroll-direction=down]/root-scroll:-translate-y-[200%]
        group-data-[scroll-at-top]/root-scroll:!translate-y-0 hocus:!translate-y-0
      "
      href="/"
    >
      <span class="sr-only">Home</span>

      <svg class="text-content h-[15px] md:h-[17px]" viewBox="0 0 2084 143" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="tru">
        <path d="M52.8194 0.119251L70.8107 88.6324H77.2567L95.248 0.119251H147.779V139.527H119.108V24.5566H112.662L87.6474 139.527H60.5162L35.5016 24.5566H29.0556V139.527H0.288818V0.119251H52.8194ZM217.435 29.6557C250.531 29.6557 269.773 49.475 269.773 85.6499C269.773 121.825 250.627 141.644 217.435 141.644C184.242 141.644 165.096 121.825 165.096 85.6499C165.193 49.3787 184.338 29.6557 217.435 29.6557ZM217.435 119.323C232.347 119.323 239.467 111.242 239.467 93.4429V77.6645C239.467 59.8656 232.443 51.784 217.435 51.784C202.426 51.784 195.403 59.8656 195.403 77.6645V93.4429C195.499 111.242 202.522 119.323 217.435 119.323ZM281.51 118.746L336.254 52.4575H282.28V31.6761H370.408V52.4575L315.665 118.746H371.178V139.527H281.51V118.746ZM386.187 31.6761H426.595V139.527H397.924V52.4575H386.187V31.6761ZM397.924 0.119251H426.595V20.9006H397.924V0.119251ZM445.548 0.119251H485.956V139.527H457.286V20.9006H445.548V0.119251ZM505.006 0.119251H545.414V139.527H516.744V20.9006H505.006V0.119251ZM606.988 29.6557C622.959 29.6557 633.446 37.5449 636.525 51.3029H642.971V31.6761H677.125V52.4575H665.388V118.746H677.125V139.527H660.77C649.225 139.527 642.971 133.274 642.971 121.729V119.901H636.525C633.446 133.659 622.959 141.548 606.988 141.548C581.781 141.548 563.983 120.093 563.983 85.5537C563.983 51.0143 581.781 29.6557 606.988 29.6557ZM615.455 119.323C629.983 119.323 636.621 111.242 636.621 93.4429V77.6645C636.621 59.8656 629.983 51.784 615.455 51.784C600.927 51.784 594.289 59.8656 594.289 77.6645V93.4429C594.289 111.242 600.927 119.323 615.455 119.323Z" fill="currentColor"/>
        <path d="M754.126 0.549086H788.496L830.796 80.6764H837.304C835.948 68.4743 835.27 59.9328 835.27 55.0519V0.549086H862.522V140.874H836.084L785.852 41.8329H779.344C780.7 54.0351 781.378 62.5766 781.378 67.4574V140.874H754.126V0.549086ZM935.094 142.907C924.248 142.907 914.961 140.738 907.233 136.399C899.64 132.061 893.81 125.689 889.743 117.283C885.676 108.877 883.642 98.6406 883.642 86.5741C883.642 74.5075 885.676 64.2713 889.743 55.8654C893.81 47.4595 899.64 41.0873 907.233 36.7487C914.961 32.4102 924.248 30.2409 935.094 30.2409C945.669 30.2409 954.618 32.2746 961.939 36.342C969.396 40.2738 975.09 46.1715 979.022 54.0351C982.954 61.7631 984.92 71.2536 984.92 82.5067V91.8617H901.335V74.3719H975.565L957.465 84.9471V78.4393C957.465 68.8132 955.634 61.8309 951.974 57.4923C948.449 53.1538 942.822 50.9845 935.094 50.9845C927.366 50.9845 921.672 53.1538 918.011 57.4923C914.486 61.8309 912.724 68.8132 912.724 78.4393V94.0987C912.724 103.589 914.486 110.572 918.011 115.046C921.672 119.384 927.366 121.553 935.094 121.553C939.704 121.553 943.5 120.808 946.483 119.316C949.601 117.825 951.838 116.063 953.194 114.029C954.55 111.995 955.228 109.961 955.228 107.928V106.097H983.496C981.055 118.164 975.7 127.316 967.43 133.552C959.159 139.789 948.381 142.907 935.094 142.907ZM993.974 32.2746H1022.04L1039.73 118.096H1046.24L1064.34 32.2746H1093.42L1111.72 118.096H1118.03L1135.72 32.2746H1162.57L1138.77 140.874H1094.03L1081.42 78.6427H1075.12L1062.51 140.874H1017.77L993.974 32.2746ZM1228.58 0.549086H1288.17C1302.68 0.549086 1313.66 4.14194 1321.12 11.3276C1328.57 18.5133 1332.3 29.1563 1332.3 43.2565C1332.3 56.8144 1328.57 67.1185 1321.12 74.1686C1313.79 81.0831 1303.02 84.5404 1288.78 84.5404H1256.65V140.874H1228.58V0.549086ZM1286.34 65.2204C1292.17 65.2204 1296.44 63.729 1299.15 60.7462C1302 57.7635 1303.42 53.2216 1303.42 47.1205V39.1892C1303.42 33.0881 1302 28.614 1299.15 25.7668C1296.44 22.7841 1292.17 21.2927 1286.34 21.2927H1256.65V65.2204H1286.34ZM1353.14 52.2048H1341.34V32.2746H1376.73V53.6283H1383.24C1385.27 45.7647 1388.46 40.0026 1392.8 36.342C1397.27 32.5458 1403.24 30.6477 1410.69 30.6477H1422.89V52.2048H1399.1C1392.73 52.2048 1387.98 54.0351 1384.86 57.6957C1381.88 61.2208 1380.39 66.8473 1380.39 74.5753V140.874H1353.14V52.2048ZM1479.68 142.907C1468.69 142.907 1459.27 140.738 1451.41 136.399C1443.68 132.061 1437.78 125.689 1433.71 117.283C1429.65 108.877 1427.61 98.6406 1427.61 86.5741C1427.61 74.5075 1429.65 64.2713 1433.71 55.8654C1437.78 47.4595 1443.68 41.0873 1451.41 36.7487C1459.27 32.4102 1468.69 30.2409 1479.68 30.2409C1490.52 30.2409 1499.81 32.4102 1507.54 36.7487C1515.4 41.0873 1521.37 47.4595 1525.43 55.8654C1529.5 64.2713 1531.53 74.5075 1531.53 86.5741C1531.53 98.6406 1529.5 108.877 1525.43 117.283C1521.37 125.689 1515.4 132.061 1507.54 136.399C1499.81 140.738 1490.52 142.907 1479.68 142.907ZM1479.68 121.553C1487.54 121.553 1493.3 119.384 1496.96 115.046C1500.62 110.572 1502.45 103.589 1502.45 94.0987V79.0494C1502.45 69.5589 1500.62 62.6443 1496.96 58.3058C1493.3 53.8317 1487.54 51.5946 1479.68 51.5946C1471.68 51.5946 1465.85 53.8317 1462.19 58.3058C1458.53 62.6443 1456.7 69.5589 1456.7 79.0494V94.0987C1456.7 103.589 1458.53 110.572 1462.19 115.046C1465.85 119.384 1471.68 121.553 1479.68 121.553ZM1587.06 142.907C1578.92 142.907 1571.74 140.67 1565.5 136.196C1559.4 131.586 1554.65 125.079 1551.26 116.673C1548.01 108.131 1546.38 98.0983 1546.38 86.5741C1546.38 74.9143 1548.01 64.8814 1551.26 56.4755C1554.52 47.934 1559.19 41.4262 1565.3 36.9521C1571.53 32.478 1578.79 30.2409 1587.06 30.2409C1594.65 30.2409 1600.75 32.0712 1605.36 35.7319C1610.1 39.2569 1613.49 44.6801 1615.53 52.0014H1621.63C1620.27 39.7993 1619.6 31.2578 1619.6 26.3769V20.4792H1607.39V0.549086H1647.05V120.943H1658.85V140.874H1640.54C1634.98 140.874 1630.71 139.382 1627.73 136.399C1624.88 133.417 1623.46 129.146 1623.46 123.587V119.113H1617.15C1614.99 126.977 1611.32 132.942 1606.17 137.01C1601.16 140.941 1594.78 142.907 1587.06 142.907ZM1597.63 121.553C1605.22 121.553 1610.78 119.384 1614.31 115.046C1617.83 110.572 1619.6 103.589 1619.6 94.0987V79.0494C1619.6 69.5589 1617.83 62.6443 1614.31 58.3058C1610.78 53.8317 1605.22 51.5946 1597.63 51.5946C1589.9 51.5946 1584.21 53.8317 1580.55 58.3058C1577.02 62.6443 1575.26 69.5589 1575.26 79.0494V94.0987C1575.26 103.589 1577.02 110.572 1580.55 115.046C1584.21 119.384 1589.9 121.553 1597.63 121.553ZM1709.98 142.907C1699.14 142.907 1690.86 139.653 1685.17 133.146C1679.61 126.502 1676.83 116.876 1676.83 104.267V52.2048H1665.04V32.2746H1704.49V98.9796C1704.49 106.843 1705.91 112.605 1708.76 116.266C1711.74 119.791 1716.42 121.553 1722.79 121.553C1729.17 121.553 1733.84 119.791 1736.83 116.266C1739.94 112.605 1741.5 106.843 1741.5 98.9796V32.2746H1768.96V120.943H1780.75V140.874H1762.45C1756.89 140.874 1752.62 139.382 1749.64 136.399C1746.66 133.417 1745.16 129.146 1745.16 123.587V119.52H1738.86C1736.96 127.519 1733.64 133.417 1728.89 137.213C1724.15 141.009 1717.85 142.907 1709.98 142.907ZM1843.49 142.907C1832.78 142.907 1823.63 140.738 1816.04 136.399C1808.44 132.061 1802.61 125.689 1798.55 117.283C1794.48 108.877 1792.45 98.6406 1792.45 86.5741C1792.45 74.5075 1794.48 64.2713 1798.55 55.8654C1802.61 47.4595 1808.44 41.0873 1816.04 36.7487C1823.63 32.4102 1832.78 30.2409 1843.49 30.2409C1857.18 30.2409 1868.17 33.6304 1876.44 40.4094C1884.84 47.1883 1890.06 57.0178 1892.1 69.8978H1864.24V67.254C1864.24 64.9492 1863.49 62.5766 1862 60.1361C1860.64 57.6957 1858.41 55.662 1855.29 54.0351C1852.17 52.4081 1848.24 51.5946 1843.49 51.5946C1835.9 51.5946 1830.34 53.8317 1826.82 58.3058C1823.29 62.6443 1821.53 69.4911 1821.53 78.8461V94.3021C1821.53 103.657 1823.29 110.572 1826.82 115.046C1830.34 119.384 1835.9 121.553 1843.49 121.553C1848.24 121.553 1852.17 120.74 1855.29 119.113C1858.41 117.351 1860.64 115.181 1862 112.605C1863.49 110.029 1864.24 107.385 1864.24 104.674V101.623H1892.3C1890.54 115.046 1885.45 125.282 1877.05 132.332C1868.64 139.382 1857.46 142.907 1843.49 142.907ZM1935.52 140.874C1929.96 140.874 1925.69 139.382 1922.71 136.399C1919.86 133.417 1918.44 129.146 1918.44 123.587V32.2746L1927.79 10.5142H1945.89V120.943H1967.25V140.874H1935.52ZM1901.96 32.2746H1967.25V52.2048H1901.96V32.2746ZM2027.69 142.907C2013.19 142.907 2002.07 139.992 1994.34 134.162C1986.75 128.197 1982 118.842 1980.11 106.097H2007.36V108.131C2007.36 110.843 2008.04 113.283 2009.39 115.452C2010.75 117.486 2012.92 119.113 2015.9 120.333C2019.02 121.553 2022.95 122.164 2027.69 122.164C2034.07 122.164 2038.88 121.215 2042.13 119.316C2045.39 117.418 2047.01 114.639 2047.01 110.978C2047.01 107.996 2046 105.691 2043.96 104.064C2042.07 102.437 2038.68 101.013 2033.8 99.793L2011.42 95.1156C2000.85 92.6751 1993.12 89.0823 1988.24 84.337C1983.5 79.4562 1981.12 72.8806 1981.12 64.6102C1981.12 53.4928 1985.05 45.0191 1992.92 39.1892C2000.92 33.2237 2012.37 30.2409 2027.29 30.2409C2041.66 30.2409 2052.57 33.2237 2060.03 39.1892C2067.62 45.0191 2072.37 54.3062 2074.27 67.0507H2047.22V65.017C2047.22 62.3054 2046.54 59.9328 2045.18 57.8991C2043.83 55.7298 2041.66 54.0351 2038.68 52.8149C2035.69 51.5946 2031.9 50.9845 2027.29 50.9845C2021.19 50.9845 2016.51 51.9336 2013.26 53.8317C2010.14 55.7298 2008.58 58.5092 2008.58 62.1698C2008.58 65.1526 2009.53 67.4574 2011.42 69.0844C2013.46 70.7113 2016.78 72.1349 2021.39 73.3551L2043.76 78.0326C2054.47 80.473 2062.27 84.1336 2067.15 89.0145C2072.16 93.7598 2074.67 100.2 2074.67 108.335C2074.67 119.452 2070.61 127.994 2062.47 133.959C2054.47 139.924 2042.88 142.907 2027.69 142.907Z" fill="currentColor"/>
      </svg>
    </a>

    <div class="ml-auto">
      <ul class="max-lg:hidden flex gap-1">
        {% for item in nav_pages_menu.items %}
        <li>
          <a class="button button-sm aria-current:bg-black group-[.theme-dark]:aria-current:bg-white group-[.theme-dark]:aria-current:text-black" href="{{ item.url }}" {% if item.current %}aria-current="page"{% endif %}>
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <button class="lg:hidden w-fit button button-sm button-square" x-dialog:trigger>
        <span class="sr-only">Menu</span>
        <svg class="size-4" aria-hidden="true">
          <use href="#menu"></use>
        </svg>
      </button>
    </div>
  </nav>

  <template x-teleport="body">
    {% include "components/menu.twig" %}
  </template>
</header>
