{#
---------------------------------------------------------------------------
Pagination
---------------------------------------------------------------------------
#}

{% if pagination.pages %}
<nav class="grid grid-site mt-24" role="navigation" aria-label="Pagination">
  {% set prev = pagination.prev %}
  {% set next = pagination.next %}

  <div class="col-span-full flex items-center justify-between gap-2.5">
    <div class="text-sm flex-1 flex justify-start">
      {% if prev %}
      <a href="{{ prev.link }}" aria-label="Previous Page" class="button button-sm">
        Previous
      </a>
      {% endif %}
    </div>

    <ul class="flex flex-wrap gap-2.5">
      {% for page_link in pagination.pages %}
      <li class="text-sm">
        {% if page_link.link %}
          <a href="{{ page_link.link }}" {% if page_link.current %}aria-current="page"{% endif %} aria-label="{{ 'Page ' ~ page_link.title }}" class="button button-sm button-square">
            <span class="mt-0.5">
              {{ page_link.title }}
            </span>
          </a>
        {% else %}
          <span class="button button-sm button-square bg-black [.theme-dark_&]:bg-white [.theme-dark_&]:text-black" aria-label="{{ 'Page ' ~ page_link.title }}">
            <span class="mt-0.5">
              {{ page_link.title }}
            </span>
          </span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <div class="text-sm flex-1 flex justify-end">
      {% if next %}
      <a href="{{ next.link }}" aria-label="Next Page" class="button button-sm">
        Next
      </a>
      {% endif %}
    </div>
  </div>
</nav>
{% endif %}
