<div class="col-span-full lg:col-span-6 max-lg:mt-24 flex flex-col gap-14 lg:gap-16">
  {% for item in content %}
    {% set type = item.acf_fc_layout %}

    {% if type == "introduction" %}
      <div class="type-headline-20 leading-tight prose">
        {{ item.text }}
      </div>

    {% elseif type == "text" %}
      <div class="sm:w-1/2 prose text-sm leading-snug max-w-[400px]">
        {{ item.text }}
      </div>

    {% elseif type == "image" %}
      <figure class="flex flex-col gap-2">
        {% include "components/lazy-img.twig" with {
          img: get_image(item.image)
        } %}

        {% if item.caption %}
          <figcaption class="whitespace-normal bg-off-black/60 text-white backdrop-blur-md px-[10px] pt-[6.5px] pb-[5.5px] w-fit type-caption">{{ item.caption }}</figcaption>
        {% endif %}
      </figure>

    {% elseif type == "video_embed" %}
      <figure class="flex flex-wrap gap-2" x-init x-video-embed>
        <div class="relative w-full [&>iframe]:w-full [&>iframe]:h-auto [&>iframe]:aspect-video isolate overflow-hidden">
          {{ item.embed|raw }}

          {% if item.cover %}
            <div class="absolute inset-0 w-full h-full z-10 data-[playing]:hidden" x-video-embed:cover>
              {% include "components/lazy-img.twig" with {
                class: "w-full h-full object-cover",
                img: get_image(item.cover),
                aspectRatio: false
              } %}
            </div>
          {% endif %}
        </div>

        {% if item.cover %}
        <button class="button button-sm button-square w-fit data-[playing]:hidden" x-video-embed:play>
          <span class="sr-only">Play video</span>
          <svg class="size-3 -translate-x-[0.1rem] shrink-0 text-white" aria-hidden="true">
            <use href="#play"></use>
          </svg>
        </button>
        {% endif %}

        {% if item.caption %}
          <figcaption class="bg-off-black/60 text-white backdrop-blur-md px-[10px] pt-[6.5px] pb-[5.5px] w-fit type-caption">{{ item.caption }}</figcaption>
        {% endif %}
      </figure>
    {% endif %}
  {% endfor %}
</div>
