{% if block.teases|length %}
<section>
  {% if block.headline or block.cta %}
    <div>
      {% if block.headline %}
        <h2>{{ block.headline }}</h2>
      {% endif %}

      {% if block.cta %}
        <a href="{{ block.cta.url }}">
          {{ block.cta.title }}
        </a>
      {% endif %}
    </div>
  {% endif %}

  <ul>
    {% for tease in block.teases %}
      {% set product = tease.product ? get_post(tease.product) : null %}

      <li>
        {% if tease.image %}
          {% include "components/image-icon-watermark.twig" with {
            image: get_image(tease.image),
            icon: product and product.icons.grayscale ? get_image(product.icons.grayscale) : null
          } %}
        {% endif %}

        <h3>{{ tease.title }}</h3>

        {% if tease.description %}
          <p>{{ tease.description }}</p>
        {% endif %}

        {% if tease.cta %}
          <a href="{{ tease.cta.url }}">
            {{ tease.cta.title }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
