<section class="grid grid-site gap-y-14 my-32 md:my-52 first:mt-0 last:mb-0 {{ class|default("") }}">
  <h2 class="col-span-full sm:col-span-2 md:col-span-4 type-headline-20 font-bold">{{ block.headline }}</h2>

  <div class="col-span-full sm:col-start-4 md:col-start-7 sm:col-span-1/2 flex flex-col gap-y-14 lg:gap-y-16">
    {% if block.introduction %}
      <div class="type-headline-20 prose">
        {{ block.introduction }}
      </div>
    {% endif %}

    {% if block.body %}
      <div class="lg:w-1/2 prose text-sm leading-snug max-w-[400px]">
        {{ block.body }}
      </div>
    {% endif %}

    {% if block.cta %}
      <a class="group w-fit flex gap-x-1" href="{{ block.cta.url }}">
        <span class="w-fit button button-sm justify-start md:justify-initial group-hocus:bg-black [.theme-dark_&]:group-hocus:bg-white [.theme-dark_&]:group-hocus:text-black">
          {{ block.cta.title }}
        </span>

        <span class="block button button-sm button-square p-2.5 transition-all group-hocus:bg-black [.theme-dark_&]:group-hocus:bg-white [.theme-dark_&]:group-hocus:text-black" aria-hidden="true">
          <svg viewBox="0 0 10 10">
            <path d="M9.875 5L3.91667 0V4.375H0.125V5.625H3.91667V10L9.875 5ZM5.16667 4.375V2.70833L7.91667 5L5.16667 7.29167V4.375Z" fill="currentColor"/>
          </svg>
        </span>
      </a>
    {% endif %}
  </div>
</section>
