<header class="text-content grid grid-site mt-[20vh]">
  <div class="col-span-full md:col-start-3 md:col-end-11 flex flex-col gap-8 items-center">
    <p class="type-headline-80 text-center">
      <span>{{ static_text }}</span>

      {% for item in rotating_texts %}
        <span>{{ item.text }}</span>
      {% endfor %}
    </p>

    {% if description %}
      <div class="type-headline-20 text-center text-balance max-w-3xl">{{ description }}</div>
    {% endif %}

    {% if cta %}
      <a class="w-fit button button-lg" href="{{ cta.url }}">
        {{ cta.title }}
      </a>
    {% endif %}
  </div>
</header>
