<header class="text-content grid grid-site mt-[20vh]">
  <div class="col-span-full md:col-start-3 md:col-end-11 flex flex-col gap-8 items-center">
    <p class="group type-headline-80 text-center" x-init x-typewriter>
      <span class="text-balance block">{{ static_text }}</span>

      <span class="inline-grid">
        <span class="row-span-full col-start-1 col-end-2" aria-hidden="true">
          {% for item in rotating_texts %}
            <span x-typewriter:text="{{ item.text }}"></span>
          {% endfor %}

          <span class="inline-block h-14 w-2 translate-y-0.5 bg-spot group-aria-busy:animate-none animate-blink"></span>
        </span>

        {#
          Clone texts and hide them visually to reserve space for the visible ones.
          This helps prevent layout shift in the topper. These texts are also
          used for the accessible text.
        #}
        <span class="row-span-full col-start-1 col-end-2 inline-grid opacity-0">
          {% for item in rotating_texts %}
            <span class="row-span-full col-start-1 col-end-2">
              {{ item.text }}... <span class="inline-block h-14 w-2 invisible"></span>
            </span>
          {% endfor %}
        </span>
      </span>
    </p>

    {% if description %}
      <div class="type-headline-20 text-center text-balance max-w-3xl">{{ description }}</div>
    {% endif %}

    {% if cta %}
      <a class="w-fit button button-lg" href="{{ cta.url }}">
        {{ cta.title }}
      </a>
    {% endif %}
  </div>
</header>
