{% extends "layouts/base.twig" %}

{%- block custom_body_classes -%}
  {{ post.meta("page_theme")|default("theme-light") }}
{%- endblock -%}

{% block pageBody %}

{% include 'components/landing/topper.twig' %}

  <div>
    <div class="mt-16 centered-page grid grid-site">
      <h2 class="sr-only">Overview</h2>

      {% for layout in page.blocks %}
        {% if layout.acf_fc_layout == 'timeline' %}
          <h3 class="col-span-full md:col-span-8 mt-16 md:mt-24 type-sans-lg uppercase">
            Key Dates
          </h3>
          <div class="col-span-full my-4">
            {% include 'components/timeline.twig' with { items: layout.key_dates } %}
          </div>
        {% elseif layout.acf_fc_layout == 'heading_and_text' %}
          {% if loop.index0 > 0 %}
            <hr class="col-span-full mt-16 md:mt-24 mb-8" />
            <div class="col-span-full md:grid md:grid-cols-24 gap-x-grid-site-gutter">
          {% elseif loop.first %}
            <div class="col-span-full md:mt-8 md:grid md:grid-cols-24 gap-x-grid-site-gutter">
          {% else %}
            <div class="col-span-full mt-16 md:grid md:grid-cols-24 gap-x-grid-site-gutter">
          {% endif %}
            {% if layout.heading %}
              <h3 class="col-span-full md:col-span-8 type-sans-lg uppercase">{{ layout.heading }}</h3>
            {% endif %}
            <div class="col-span-full max-md:mt-8 md:col-start-13 md:col-span-10 lg:col-start-15 lg:col-span-8 prose">
              {{ layout.text_content }}
            </div>
          </div>
        {% elseif layout.acf_fc_layout == 'big_heading' %}
          <div class="col-span-full md:col-start-6 md:col-span-19 mt-16 md:mt-24">
            <p class="type-headline-xl indent-8 md:indent-[calc(0.1*var(--100vw))]">
              {{ layout.heading_text }}
            </p>
          </div>
        {% elseif layout.acf_fc_layout == 'big_quote' %}
          <div class="col-span-full mt-16">
            {% include 'components/big-quote.twig' with { quote: layout } %}
          </div>
        {% elseif layout.acf_fc_layout == 'video' %}
          <div class="col-span-full mt-16 md:col-start-end md:col-span-14 lg:col-span-1/2 mb-8">
            <div class="w-full aspect-video bg-content/10 [&_iframe]:w-full [&_iframe]:h-full">
              {{ layout.theme_video }}
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>

</div>

{% endblock %}
