<div class="border-t border-content flex flex-col">
  <a href="{{ product.link }}" class="px-grid-site-margin py-grid-site-margin grid grid-cols-6 md:grid-cols-12 gap-6 relative items-center group overflow-hidden">
    <div class="col-span-3 flex flex-row gap-x-4 items-center z-10">
      <div class="relative w-12 h-12 flex ">
        {# Grayscale SVG #}
        {% include "components/lazy-img.twig" with {
        class: "size-12 invert group-hover:hidden",
        img: get_image(product.icons.grayscale),
        aspectRatio: aspectRatio
        } %}

        {# Colored SVG #}
        {% include "components/lazy-img.twig" with {
          class: "relative size-12 opacity-0 group-hover:opacity-100
          ",
          img: get_image(product.icons.primary),
          aspectRatio: aspectRatio
        } %}
      </div>


      <h3 class="relative type-text-20 leading-none font-wght-480 group-hover:text-[var(--foreground-color)]
        group-hover:after:opacity-100
        after:opacity-0
        after:absolute after:inset-0 after:-z-10
        after:w-[calc(100%+1rem)] after:h-[calc(100%+0.875rem)]
        after:bg-[var(--background-color)] after:left-1/2 after:top-1/2
        after:-translate-x-1/2 after:-translate-y-1/2" style="--background-color: {{ product.colors.background }}; --foreground-color: {{ product.colors.foreground }}">
          {{ product.title }}
      </h3>
    </div>
    <div class="hidden md:block md:col-span-6">
     <p class="relative truncate w-full lg:w-fit type-text-20 leading-none font-wght-480 z-10 whitespace-nowrap group-hover:text-[var(--foreground-color)]
        group-hover:after:opacity-100
        after:opacity-0
        after:absolute after:inset-0 after:-z-10
        after:w-[calc(100%+1.25rem)] after:h-[calc(100%+0.875rem)]
        after:bg-[var(--background-color)] after:left-1/2 after:top-1/2
        after:-translate-x-1/2 after:-translate-y-1/2" style="--background-color: {{ product.colors.background }}; --foreground-color: {{ product.colors.foreground }}">
      {{ product.tagline }}
    </p>
    </div>

    <div class="flex col-span-3 justify-end">
     <p class="relative w-fit type-text-20 leading-none font-wght-480 z-10 whitespace-nowrap group-hover:text-[var(--foreground-color)]
        group-hover:after:opacity-100
        after:opacity-0
        after:absolute after:inset-0 after:-z-10
        after:w-[calc(100%+1.25rem)] after:h-[calc(100%+0.875rem)]
        after:bg-[var(--background-color)] after:left-1/2 after:top-1/2
        after:-translate-x-1/2 after:-translate-y-1/2" style="--background-color: {{ product.colors.background }}; --foreground-color: {{ product.colors.foreground }}">
      View More
    </p>
    </div>

    <div class="absolute w-full h-full z-8 opacity-0 group-hocus:opacity-100">
      {% include "components/lazy-img.twig" with { class:"absolute top-1/2 left-0 -translate-y-1/2", img: product.thumbnail } %}
    </div>
  </a>
</div>

