<div class="flex flex-col gap-6">
  <div class="flex flex-col gap-6 relative">
    {% if project.thumbnail %}
      <div class="w-1/2">
        {% include "components/lazy-img.twig" with { img: project.thumbnail } %}
      </div>
    {% endif %}

    <div class="border-t border-content pt-2">
      <h3 class="text-lg uppercase">
        <a href="{{ project.link }}" class="before:absolute before:inset-0 before:z-10">{{ project.title }}</a>
      </h3>
    </div>

    <p>{{ project.tagline }}</p>
  </div>

  <div class="flex flex-col divide-y divide-content">
    <dl class="flex flex-col divide-y divide-content">
      {% if post.contributors is not empty %}
      <div class="flex justify-between gap-4 py-1.5">
        <dt>Contributor{{ post.contributors|length > 1 ? 's' : '' }}</dt>
        <dd class="text-right font-semibold">
          {% include "components/articles/byline_format.twig" with { bylines: post.contributors } %}
        </dd>
      </div>
      {% endif %}

      {% if post.platforms is not empty %}
      <div class="flex justify-between gap-4 py-1.5">
        <dt>Platform{{ post.platforms|length > 1 ? 's' : '' }}</dt>
        <dd class="text-right font-semibold">
          {% for platform in post.platforms %}
            <a href="{{ platform.link }}" class="hover-link">{{ platform.name }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        </dd>
      </div>
      {% endif %}

      {% if post.categories is not empty %}
      <div class="flex justify-between gap-4 py-1.5">
        <dt>{{ post.categories|length > 1 ? 'Categories' : 'Category' }}</dt>
        <dd class="text-right font-semibold">
          {% for category in post.categories %}
            <a href="{{ category.link }}" class="hover-link">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        </dd>
      </div>
      {% endif %}
    </dl>

    <div class="flex justify-between gap-4 py-1.5">
      <a href="{{ project.link }}" class="hover-link">Project Details</a>

      {% if project.github_link %}
        <a href="{{ project.github_link }}" class="hover-link">GitHub</a>
      {% endif %}
    </div>
  </div>
</div>

