{% extends "layouts/base.twig" %}

{%- block custom_body_classes -%}
  theme-dark
{%- endblock -%}

{% block pageBody %}

  {% include 'components/accelerator/topper.twig' %}

  <section>
    <dl>
      <dt>Description</dt>
      <dd>{{ page.meta('description') }}</dd>

      <dt>Overview</dt>
      <dd>{{ page.meta('overview') }}</dd>

      <dt>Concept</dt>
      <dd>{{ page.meta('concept') }}</dd>

      <dt>Quote</dt>
      <dd>
        {{ page.meta('quote').quote }} <br>
        {{ page.meta('quote').source_name }} <br>
        {{ page.meta('quote').source_title }} <br>
        {{ get_image(page.meta('quote').source_headshot).src }}
      </dd>

      <dt>The Inaugural Theme</dt>
      <dd>{{ page.meta('theme') }}</dd>

      <dt>Key dates</dt>
      <dd>
        <ul>
          {% for keyDate in page.meta('key_dates') %}
            <li>
              {{ keyDate.date }} - {{ keyDate.description }}
            </li>
          {% endfor %}
        </ul>
      </dd>

      <dt>Mission</dt>
      <dd>{{ page.meta('mission') }}</dd>

    </dl>

  </section>

{% endblock %}
