{% extends "layouts/base.twig" %}

{%- block custom_body_classes -%}
  theme-dark
{%- endblock -%}

{% block pageBody %}

  {% include 'components/accelerator/topper.twig' %}

  <div x-tabs="{ default: 'overview', initial: '{{ initial_tab }}' }">
    <div class="my-4 centered-page px-grid-site-margin flex max-xl:flex-col items-center">
      <div
        x-tabs:list.automatic.loop
        class="flex flex-col md:grid md:grid-cols-3 max-xl:w-full border border-content max-md:divide-y md:divide-x divide-content">
        <button
          x-tabs:tab="overview"
          {% if initial_tab == 'overview' %}data-state="active"{% endif %}
          class="flex-1 py-1 px-16 data-[state=active]:bg-content data-[state=active]:text-content-reverse">
          <span class="text-sm text-center uppercase whitespace-nowrap">Overview</span>
        </button>

        <button
          x-tabs:tab="cohorts"
          {% if initial_tab == 'cohorts' %}data-state="active"{% endif %}
          class="flex-1 py-1 px-16 data-[state=active]:bg-content data-[state=active]:text-content-reverse">
          <span class="text-sm text-center uppercase whitespace-nowrap">Past Cohorts</span>
        </button>

        <button
          x-tabs:tab="faqs"
          {% if initial_tab == 'faqs' %}data-state="active"{% endif %}
          class="flex-1 py-1 px-16 data-[state=active]:bg-content data-[state=active]:text-content-reverse">
          <span class="text-sm text-center uppercase whitespace-nowrap">FAQs</span>
        </button>
      </div>

      <div class="xl:flex-1 h-px bg-content max-xl:h-8 max-xl:w-px"></div>

      <div class="flex flex-col md:grid md:grid-cols-2 max-xl:w-full border border-content max-md:divide-y md:divide-x divide-content">
        <a href="#" class="flex-1 py-1 px-16 hover:bg-content hover:text-content-reverse focus-within:bg-content focus-within:text-content-reverse">
          <p class="text-sm text-center uppercase whitespace-nowrap">
            Newsletter
          </p>
        </a>

        <a href="{{ archive_links.discord }}" class="flex-1 py-1 px-16 hover:bg-content hover:text-content-reverse focus-within:bg-content focus-within:text-content-reverse">
          <p class="text-sm text-center uppercase whitespace-nowrap">
            Discord
          </p>
        </a>
      </div>
    </div>

    <div x-tabs:panel="overview" {% if initial_tab != 'overview' %}style="display:none"{% endif %}>
      <h2>Overview</h2>
    </div>

    <div x-tabs:panel="cohorts" {% if initial_tab != 'cohorts' %}style="display:none"{% endif %}>
      <h2>Past Cohorts</h2>
    </div>

    <div x-tabs:panel="faqs" {% if initial_tab != 'faqs' %}style="display:none"{% endif %}>
      <h2>FAQs</h2>
    </div>
  </div>

  <section>
    <dl>
      <dt>Description</dt>
      <dd>{{ page.meta('description') }}</dd>

      <dt>Overview</dt>
      <dd>{{ page.meta('overview') }}</dd>

      <dt>Concept</dt>
      <dd>{{ page.meta('concept') }}</dd>

      <dt>Quote</dt>
      <dd>
        {{ page.meta('quote').quote }} <br>
        {{ page.meta('quote').source_name }} <br>
        {{ page.meta('quote').source_title }} <br>
        {{ get_image(page.meta('quote').source_headshot).src }}
      </dd>

      <dt>The Inaugural Theme</dt>
      <dd>{{ page.meta('theme') }}</dd>

      <dt>Key dates</dt>
      <dd>
        <ul>
          {% for keyDate in page.meta('key_dates') %}
            <li>
              {{ keyDate.date }} - {{ keyDate.description }}
            </li>
          {% endfor %}
        </ul>
      </dd>

      <dt>Mission</dt>
      <dd>{{ page.meta('mission') }}</dd>

    </dl>

  </section>

{% endblock %}
